*~
*.o
*.lo
*.la
*.log
*.trs

Makefile
Makefile.in
.deps
.libs

/autom4te.cache
/aclocal.m4
/compile
/config.*
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/stamp-h1
/test-driver
/gtk-doc.make

/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4
/m4/gtk-doc.m4

/test/dukpt-test

/src/dukpt.h
/src/dukpt.pc

/doc/reference/*.stamp
/doc/reference/html/
/doc/reference/xml/
/doc/reference/version.xml
/doc/reference/libdukpt-decl-list.txt
/doc/reference/libdukpt-decl.txt
/doc/reference/libdukpt-decl.txt.bak
/doc/reference/libdukpt-overrides.txt
/doc/reference/libdukpt-undeclared.txt
/doc/reference/libdukpt-undocumented.txt
/doc/reference/libdukpt-unused.txt
/doc/reference/libdukpt.args
/doc/reference/libdukpt.hierarchy
/doc/reference/libdukpt.interfaces
/doc/reference/libdukpt.prerequisites
/doc/reference/libdukpt.signals
/doc/reference/libdukpt.types
